.prevmovil{
    z-index: 900;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background: #faf2e2;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    display: none
 
  }



  @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


$text-font: 'EB Garamond', serif;
$h1-font: 'Lora', serif;
$h2-font: 'EB Garamond', serif;

.buttonspop{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.instruction{
  height: fit-content;
  color: black !important;
  max-width: 200px;

}

.moresize{
  padding: 40px !important;
}

.portada {
  text-align: center;
  background: url('./img/viunacascadabrillante.png');
  background-size: contain;
  background-repeat:no-repeat;

}
.contraportada {
  background: url('./img/contraportada.png');
  background-size: contain;
  background-repeat:no-repeat;
}
  .pagina{

    border-top: 2px solid rgb(226, 205, 173);
    max-width: 400px;
    width: 100vw;
    min-height: 700px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    div{
      align-self: center;
      margin-bottom: 4%;
      font-family: $text-font;
      font-size: 15px;
      color: black;
    }
     h1{
      text-align: center;
      margin-bottom: 4%;
      font-family: $text-font;
      font-size: 50px;
      color: black;
  }
  
  

  
  
   h2{
      margin-bottom: 4%;
      font-family: $text-font;
      font-size: 35px;
      color: black;
  }
  
   h3{
      text-align: center;
      margin-bottom: 4%;
      font-family: $text-font;
      font-size: 25px;
      color: black;
  }
  
   p {
    margin-bottom: 4%;
    font-family: $text-font;
    font-size: 18.2px;
    color: black;
  }
  
  &:nth-child(3) {
    p {
      &:first-of-type {
        &:first-letter {
          font-size: 32px;
        }
      }
    }
  }
  }

  .movilviewc{
    position: fixed;
      top: +1%;
      right: +1%;
      width: 25%;
      height: 15%;
      max-width: 120px;
      max-height: 100px;
      border: 0px;
      padding: 10px;
      font-size: 30px;
      margin: 10px;
      width: fit-content;
      height: 50px;
      border-radius: 10px;
      border: 2px solid black;
      background: rgba(255, 255, 255, 1);
      &:hover{
          background-color: black;
          color: white;
      }
    }